@using RS1_P120_MobitelShop.Areas.ModulAdministracija.Models
@model RS1_P120_MobitelShop.Areas.ModulAdministracija.Models.NarudzbePrikaziVM

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikazi</title>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/ModulAdministracija/AdminHome">Admin home</a>
                </li>
                <li class="breadcrumb-item active">Narudžbe</li>
            </ol>

            <div class="row">
                <div class="table">
                    <table class="table" style="width:99%">
                        <thead>
                            <tr>
                                <th>Broj narudžbe</th>
                                <th>Ime klijenta</th>
                                <th>Datum narudžbe</th>
                                <th>Status narudžbe</th>
                                <th>STATUS</th>
                                <th>Vrsta isporuke</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (NarudzbePrikaziVM.NarudzbeInfo x in Model.narudzbeStavke)
                            {
                                <tr>
                                    <td>
                                        @x.BrojNarudzbe
                                    </td>
                                    <td>@x.klijentIme</td>
                                    <td>@x.DatumNarudzbe</td>
                                    <td>@x.statusNarudzbe</td>
                                  <td>
                                        <div>
                                            <a class="btn btn-warning"><b>@(x.Otkazano == true ? "ISPORUČENO" : "NA ČEKANJU")</b></a>
                                        </div>
                                    </td>
                                    <td>@x.isporukaVrsta</td>
                                    <td>
                                        <div class="btn-group open">
                                            <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i>Izvrši izmjene</a>
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">                             
                                            </a>
                                            <ul class="dropdown-menu" style="padding:5px">
                                                <li style="padding:5px;text-decoration:none">
                                                    @Html.ActionLink("Promijeni status", "promjeniStatus", new { id = x.Id }, new { @class = "btn btn-warning" })
                                                </li>
                                                           @Html.Action("Detalji", "Narudzbe", new { id = x.Id })
                                            </ul>
                                                <a data-toggle="modal" data-id="@x.Id" title="Add this item" class="open-AddBookDialog"></a>
                                        </div>
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>               
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>