@model RS1_P120_MobitelShop.Areas.ModulAdministracija.ViewModels.KlijentiPrikaziVM
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.ViewModels
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/bootstrap.min.js"></script>
</head>
<body>
  
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/ModulAdministracija/AdminHome">Admin home</a>
                </li>
                <li class="breadcrumb-item active">Klijenti</li>
            </ol>
            <div class="row">

                <div class="table">
                    <table class="table" style="width:50%">            
                            <thead>
                                <tr>
                                    <th><b>Ime</b></th>
                                    <th><b>Prezime</b></th>
                                    <th>Datum rođenja</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Adresa</th>
                                    <th>Korisničko ime</th>
                                    <th>Grad</th>
                                    <th>Banned/NotBanned</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KlijentiPrikaziVM.KlijentInfo x in Model.klijentStavke)
                                {
                                    <tr>
                                        <td>
                                            @x.Ime 
                                        </td>
                                        <td>@x.Prezime</td>
                                        <td>@x.DatumRodjenja</td>
                                        <td>@x.Email</td>
                                        <td>@x.Telefon</td>
                                        <td>@x.Adresa</td>
                                        <td>@x.KorisnickoIme</td>
                                        <td>@x.Grad</td>
                                        
                                        <td>
                                            <div>

                                                <a class="btn btn-danger"><b style="color:white">@(x.IsBanned == true ? "Banned" : "not Banned")</b></a>
</div>
                                        </td>
                                        <td>
                                            @*<p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        @Html.ActionLink("Obriši", "Obrisi", new { id = x.KlijentId }, new { @class = "btn btn-danger" })
                                                       </div>
                                                    <div class="col-md-6">

                                                        @Ajax.ActionLink("Uredi", "Uredi", new { id = x.KlijentId }, new AjaxOptions() { UpdateTargetId = "klijent" }, new { @class = "btn btn-info" })
                                                        </div>
                                                    </div>*@
                                            <div class="btn-group open">
                                                <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i>Izvrši izmjene</a>
                                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                                    @*<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>*@
                                                </a>
                                                <ul class="dropdown-menu" style="padding:5px">
                                                    <li style="padding:5px;text-decoration:none">
                                                        @Ajax.ActionLink(" Uredi", "Uredi", new { id = x.KlijentId }, new AjaxOptions() { UpdateTargetId = "klijent" }, new { @class = "btn btn-warning fa fa-pencil" })
                                                    </li>
                                                    <li style="padding:5px">
                                                        @Html.ActionLink(" Obriši", "Obrisi", new { id = x.KlijentId }, new { @class = "btn btn-danger fa fa-trash-o" })

                                                    </li>
                                                    <li>
                                                        @if(x.IsBanned == false)
                                                        {
                                                        @Html.ActionLink("Ban user", "BanUser", new { id = x.KlijentId }, new { @class = "btn btn-danger" })
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink("Unban user", "BanUser", new { id = x.KlijentId }, new { @class = "btn btn-danger" })
                                                        }
                                                    </li>
                                                    @*<li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>*@
                                                </ul>
                                            </div>
</td>
                                    </tr>
   
                                }
                            </tbody>
                        </table>
                    <div id="klijent">
                      
                    </div>
                      </div>
                </div>
                    
                </div>
            </div>
    
    <script src="~/Areas/ModulAdministracija/Content/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Areas/ModulAdministracija/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>

