@using PagedList.Mvc;
@using RS1_P120_MobitelShop.ViewModel
@model  RS1_P120_MobitelShop.ViewModel.PocetnaIndexVM 
<!DOCTYPE html>
<link href="~/Areas/ModulAdministracija/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> 
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:125%;height:450px;margin-left:-12%;margin-top:-1.5%"> 
        <ol class="carousel-indicators">
            @foreach (PocetnaIndexRow hir in Model.listaNajnovijihArtikala)
            {
                <li data-target="#myCarousel" data-slide-to="@hir.ArtikalId" class="@(hir==Model.listaNajnovijihArtikala.FirstOrDefault() ?"active":"")"></li>
            }
        </ol> 
        <div class="carousel-inner">
            @foreach (PocetnaIndexRow hir in Model.listaNajnovijihArtikala)
            {
                <div class="@(hir==Model.listaNajnovijihArtikala.FirstOrDefault()?"item active":"item")">

                    <a href="/ModulKlijenti/Uporedi/Detalji?artikalId=@hir.ArtikalId">
                        <img src="@hir.Slika" alt="@(hir.Marka+" "+hir.Model)" style="width:50%;height:400px">

                        <div class="carousel-caption text-left">
                            <div class="text-right">
                                <h3>@hir.Model</h3>
                                <p>Operativni sistem: @hir.OperativniSistem</p>
                                <p>Ekran: @hir.VrstaEkrana  @hir.Ekran ''</p>
                                <p>Kamera: @hir.Kamera</p>
                                <del><p>@hir.Cijena KM</p></del>
                                <p>@hir.CijenaSaPopustom KM</p>
                            </div>
                        </div>
                    </a>

                </div>
            }
        </div> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<h2 style="text-align:center">MOBITELI</h2>
<div id="divSearch">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div id="page-wrapper">
                    <div style="margin-left:10%; padding-bottom:3px;padding-top:10px">
                        <div class="row">
                            @foreach (RS1_P120_MobitelShop.Models.Artikal x in Model.listaArtikalaPoSearch)
                            { 
                                <div style="box-shadow: -1px 3px 25px #000; margin-bottom:20px;padding-top:0px;width:220px;padding-bottom:0px;padding:10px;margin-right:5px;background-color:white">
                                    <br />
                                    <div class="img-fluid">
                                        <a href="/ModulKlijenti/Uporedi/Detalji?artikalId=@x.Id" data-toggle="lightbox" data-footer="Slika telefona" data-max-width="500">
                                            <img src="@Url.Content(@x.Slika)" class="img-fluid" style="width:200px;height:185px" />
                                        </a>
                                        <div class="caption">
                                            <p><b>Model telefona:<br /></b>@x.Model</p>
                                            <p><b>Garancija: </b>@x.Garancija</p>
                                            <p><b>Cijena: </b>@x.Cijena KM</p>
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                Stranica @(Model.listaArtikalaPoSearch.PageCount < Model.listaArtikalaPoSearch.PageNumber ? 0 : Model.listaArtikalaPoSearch.PageNumber) od @Model.listaArtikalaPoSearch.PageCount
                @Html.PagedListPager(Model.listaArtikalaPoSearch, page => Url.Action("Index", new
                {
                    page,
                    tipID = ViewBag.tipID
                }))
            </div>
        </div>
    </div>
</div>
