@model RS1_P120_MobitelShop.Areas.ModulAdministracija.Models.DetaljiNarudzbePrikaziVM
           @using RS1_P120_MobitelShop.Areas.ModulAdministracija.Models
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikazi</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/ModulAdministracija/AdminHome">Admin home</a>
                </li>
                <li class="breadcrumb-item active">Narudžbe</li>
            </ol>

            <div class="row">
                <div class="table">
                    <table class="table" style="width:99%">
                        <thead>
                            <tr>
                                <th>Naziv artikla</th>
                                <th>Količina</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DetaljiNarudzbePrikaziVM.DetaljiInfo x in Model.detaljiStavke)
                            {
                                <tr>
                                    <td>
                                        @x.artikalNaziv
                                    </td>
                                    <td>@x.Kolicina</td>    
                                    <td>
                                        <div id="detalji">
                                        </div>
                                    </td>                             
                                    <td>
                                        <div class="btn-group open">
                                            <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i>Izvrši izmjene</a>
                                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                                @*<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>*@
                                            </a>
                                            @*<ul class="dropdown-menu" style="padding:5px">
                                                <li style="padding:5px;text-decoration:none">
                                                    @Ajax.ActionLink("Promjeni status", "Promjena", new { id = x.Id }, new AjaxOptions() { UpdateTargetId = "uredi" }, new { @class = "btn btn-warning fa fa-pencil" })
                                                </li>
                                                <li style="padding:5px">
                                                    @Ajax.ActionLink(" Obriši", "Obrisi", new { id = x.Id }, new AjaxOptions() { UpdateTargetId = "obrisi" }, new { @class = "btn btn-danger fa fa-trash-o" })
                                                </li>
                                                <li style="padding:5px">
                                                    @Ajax.ActionLink("Prikaži detalje", "Detalji", new { id = x.Id }, new AjaxOptions { UpdateTargetId = "detalji" })

                                                </li>
                                                @*<li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>*@
                                        
                                        </div>
                                    </td>
                                   
                                    <td>
                                      @*  @Ajax.ActionLink("Prikaži detalje", "Prikazi", new { id = x.Id }, new AjaxOptions { UpdateTargetId = "detalji" })*@
                                        
                                         @*@Html.ActionLink("Prikazi detalje", "Prikazi", new { id = x.NarudzbaId})*@
                                    </td>
                                
                                </tr>

                            }
                        </tbody>

                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
